body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav{
    background-color: transparent !important;
    box-shadow: none;
}

.header{
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}

.nav-links ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li{
    margin-left: 40px;
}

.nav-links a{
    color: #ffff;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 12px;
}
.logo{
    margin-right: auto;
    width: 161px;
    height: 32px;
    }

.hero{
    background-image: url("./images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 32px;
}

.hero-bottom-container h2{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Source-Sans-Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.span-container{
    display: flex;
    justify-content: center;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 16px;
}

button {
    background-color: #FF6565;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 22px;
    line-height: 24px;
    box-shadow: 0px 2px 20px 0px #00000080;
    width: 162px;
    height: 44px;
    white-space: nowrap;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Source-Sans-Pro';
}

 
 /* section */
 
 .hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
 }
 
 .hero .background-image {
    position: absolute;
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: var(--color-black);
    z-index: -1;
 }
 
 .hero .button {
    box-shadow: 5px 1px 15px 2px rgba(0, 0, 0, 0.57);
    margin-bottom: 5rem;
 }

/* mobile responsive */

 @media screen and (max-width: 480px) {
    header {
       flex-wrap: wrap;
       justify-content: center;
    }
    
    header nav {
       display: none;
       flex-direction: column;
       overflow: hidden;
       max-height: 0;
       transition: max-height .2s ease-out;
       justify-content: center;
    }
 
    header nav li {
       margin: 0 0;
       padding-bottom: 3rem;
    }
 
    header .menu-icon {
       display: initial;
       order: -1;
    }
 }