body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav{
    background-color: transparent !important;
    box-shadow: none;
}

.header{
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}

.nav-links ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li{
    margin-left: 40px;
}

.nav-links a{
    color: #ffff;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 12px;
}
.logo{
    margin-right: auto;
}

.logo img{
    width: 161px;
    height: 32px;
 }

/* section */

.hero{
    background-image: url("./images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 32px;
}

.hero-bottom-container h2{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Source-Sans-Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.span-container{
    display: flex;
    justify-content: center;
    font-family: 'Source-Sans-Pro';
    font-weight: bold;
    font-size: 16px;
}

button {
    background-color: #FF6565;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 22px;
    line-height: 24px;
    box-shadow: 0px 2px 20px 0px #00000080;
    width: 162px;
    height: 44px;
    white-space: nowrap;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Source-Sans-Pro';
}


/* what we do section */

.company-info{
    text-align: center;
    margin: var;
}

.company-info h2{
    font-family: 'Source-Sans-Pro';
    font-weight: 600;
    font-size: 32px;
}

.information-container{
    font-family: 'Source-Sans-Pro';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 26px;
    letter-spacing: 0px;
    width: 637px;
    height: 104px;
    display: flex;
    text-align: center;
    margin-left: 330px;
}

.info-content{
     border: none;
     border-radius: 8px;
     padding: 5px;
     margin: 10px;
     transition: transform 0.3s;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1000px;
     text-align: center;
     justify-content: center;
     font-size: 14px;
     font-family:'Source-Sans-Pro';
}

.info-content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.info-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 30px;
    flex-direction: row; 
}

/* our results section */

.third-hero{
    background-image: url("./images/headphones_hero_2.jpg");     
    background-position: center;
    height: 100vh;
    color: #ffff;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.third-hero h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.01px;
    font-family: 'Source-Sans-Pro';
    font-weight: 600px;
    font-size: 32px;
}

.p-container{
    display: flex;
    justify-content: center;
    font-family: 'Source-Sans-Pro';
    font-weight: 400;
    font-size: 16px;
    width: 637px;
    height: 104px;
}

.third-container{
    max-width: 1000px;
    margin: 0 auto;
}

.pentagon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    width: 190px;
    height: 190px;
}

/* contact us section */

.contact-container {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .contact-container h2 {
    margin-bottom: 20px;
    font-family: Source-Sans-Pro;
    font-size: 32px;
    font-weight: 600;
  }
  
.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%; /* Full width */
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff; /* White text */
    text-decoration: underline;
  }

  .form-group {
    margin-bottom: 20px;
    text-align: left; /* Align labels to the left */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%; /* Full width */
    padding: 12px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent; /* Transparent background */
    color: #000;
    box-sizing: border-box;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea:focus {
    outline: none;
    border-bottom: 2px solid #e74c3c; /* Change underline color on focus */
  }

  .form-group{
    font-family: Source-Sans-Pro;
    font-size: 14px;
    font-weight: 600;
  }
  
  .contact-container button {
    background-color: #FF6565; 
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 22px;
    cursor: pointer;
    width: 162px;
    height: 44px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .contact-container button:hover {
    background-color: #c0392b; /* Darker red on hover */
    overflow: hidden;
  }

/* tablet responsive */

  @media screen and (max-width: 768px) {
    header {
       flex-wrap: wrap;
       justify-content: center;
    }
 
    header nav {
       display: none;
       flex-direction: column;
       overflow: hidden;
       max-height: 0;
       transition: max-height .2s ease-out;
       justify-content: center;
    }
 
    header nav li {
       margin: 0 0;
       padding-bottom: 3rem;
    }
 
    header .menu-icon {
       display: initial;
       order: -1;
    }
 }
 
 /*  Hero */
 
 .hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
 }
 
 .hero .background-image {
    position: absolute;
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: var(--color-black);
    z-index: -1;
 }
 
 .hero .button, .form-group .button{
    box-shadow: 5px 1px 15px 2px rgba(0, 0, 0, 0.27);
    margin-bottom: 5rem;
 }
 
 /* Description */
 
 .description {
    background: var(--color-white);
    color: var(--color-secondary);
 }
 
 .description .columns {
    display: flex;
 }
 
 .description .columns li {
    padding: 0 50px;
 }
 
 .description .columns li i {
    font-size: var(--font-size-xxx-large);
    color: var(--color-primary);
 }

 @media screen and (max-width: 768px) {
    .description .columns {
       display: flex;
       flex-wrap: wrap;
       padding: 0;
    }
 
    .description .columns li {
       width: 50%;
    }
 }